/*
/.**
!bin

### exlude ignore ###
!/.config
!/.config/fish
!/.config/fish/fish_plugins
!/.config/fish/config.fish
!/.config/fish/functions
!/.config/fish/functions/**.fish
!/.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json
!/.vim
!/.vim/dein.toml
!/.vim/dein_lazy.toml
!/.nvmrc
!/.tmux.conf
!/.latexmkrc
!/.config/powerline
!/.config/powerline/themes
!/.config/powerline/colorschemes
!/.config/powerline/themes/tmux
!/.config/powerline/colorschemes/tmux
!/.config/powerline/**.json
!/.config/powerline/themes/tmux/**.json
!/.config/powerline/colorschemes/tmux/**.json


### git files ###
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
