/*
/.**
!bin

### exlude ignore ###
!/.config/
!/.config/fish
!/.config/fish/fish_plugins
!/.config/fish/config.fish
!/.config/fish/functions
!/.config/fish/functions/**.fish
!/.config/nvim
!/.config/nvim/init.vim



### git files ###
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
