/*
/.**
!bin

### exlude ignore ###
!/.config
!/.config/fish
!/.config/fish/fish_plugins
!/.config/fish/config.fish
!/.config/fish/functions
!/.config/fish/functions/**.fish
!/.config/nvim
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json
!/.vim
!/.vim/dein.toml
!/.vim/dein_lazy.toml
!/.nvmrc
!/.tmux.conf
!/.latexmkrc
!/.ideavimrc
!/.config/powerline
!/.config/powerline/themes
!/.config/powerline/colorschemes
!/.config/powerline/themes/tmux
!/.config/powerline/colorschemes/tmux
!/.config/powerline/**.json
!/.config/powerline/themes/tmux/**.json
!/.config/powerline/colorschemes/tmux/**.json
!/.config/discord
!/.config/discord/settings.json
!/.config/discordptb
!/.config/discordptb/settings.json
!/.config/discordcanary
!/.config/discordcanary/settings.json
!/.config/hypr
!/.config/hypr/bg.png
!/.config/hypr/hyprland.conf
!/.config/hypr/split-monitor-workspaces.so
!/.config/hypr/xdg-portal-hyprland
!/.config/waybar
!/.config/waybar/config.jsonc
!/.config/waybar/scripts
!/.config/waybar/scripts/waybar-wttr.py
!/.config/waybar/style.css
!/.config/swaylock
!/.config/swaylock/config
!/.config/screenshot.sh



### git files ###
!/README.md
!/LICENSE
!.gitignore
!.gitkeep
